


<div class="flex items-center justify-center my-10 p-5 text-4xl">
    <span class="font-bold" style="color: #3F2305;">
        Projects

    </span>

</div>
<div class="w-full my-10 flex flex-col">
    <div class="flex flex-row">
        <div
        class="relative mx-auto border-[#64431f] dark:border-[#64431f] bg-[#64431f] border-[8px] rounded-xl h-[172px] max-w-full md:h-[294px] md:max-w-[512px]">
        <div class="rounded-lg overflow-hidden h-[156px] md:h-[278px] bg-white dark:bg-[#64431f]">
            <img src="https://flowbite.s3.amazonaws.com/docs/device-mockups/laptop-screen.png"
                class="dark:hidden h-[156px] md:h-[278px] w-full rounded-xl" alt="">
        </div>
    </div>
    <div
        class="relative mx-auto border-[#64431f] dark:border-[#64431f] bg-[#64431f] border-[8px] rounded-xl h-[172px] max-w-full md:h-[294px] md:max-w-[512px]">
        <div class="rounded-lg overflow-hidden h-[156px] md:h-[278px] bg-white dark:bg-[#64431f]">
            <img src="https://flowbite.s3.amazonaws.com/docs/device-mockups/laptop-screen.png"
                class="dark:hidden h-[156px] md:h-[278px] w-full rounded-xl" alt="">
        </div>
    </div>
    </div>
    
  
</div>
