<div class="flex flex-row justify-center items-center min-h-fit my-28 pb-40">

 
    <div class="flex justify-center my-10">
        <div>
            <img class="p-5 rounded-full items-center translate-x-6"  src="../../assets/image/portfolioimage2.png" alt="Adam argyle" width="300px"> 
        </div>
       
            
    </div>

    <div class="flex flex-col justify-center mx-4 px-4">
    <div class="flex flex-col">
            <div class="color text-4xl p-3">
                Hi! I'm Zay Min Khant
            </div>
            <div class="color text-3xl px-3">
                Full-stack Developer
            </div>
            <div class="color text-lg px-3">
                I live in Chiang Mai, Thailand
            </div>
            <div class="flex flex-row mt-3 px-3">
                <button class="cssbuttons-io">
                    <span
                      >
                      Hire Me</span
                    >
                  </button>

            </div>
            

        </div>
    </div>

</div>

<div class="flex flex-row my-28 m-2 p-2" >
    <div class="flex flex-col basis-3/5 m-10 ">
    
    <div class="flex text-5xl justify-center items-center mb-4" id="aboutme">
        About Me
    </div>
    <div class="text-balance text-lg indent-12">
        As a Full Stack Developer at TASTYSOFT, I create efficient and optimized code that powers the web applications of various clients. I use cutting-edge tools and frameworks, such as Angular, Node.js, Python, AWS, Bootstrap, and Sequelize.js, to deliver high-quality and user-friendly web solutions.
I have a passion for web development and a track record of success in designing, developing, testing, and deploying web applications, using agile methodologies and best practices. One of my recent achievements was winning the SE2020 Software Engineer Contest, where I showcased my skills and creativity in building a dynamic and interactive web app. I am always eager to learn new things and challenge myself, and I value collaboration, feedback, and innovation.
    </div>
    </div>
    <div class="flex items-center">
        <img src = "../../assets/image/aboutme.svg" alt="Me"/>
    </div>


</div>
