<div class="flex flex-row justify-center items-center min-h-fit my-28 pb-40" >

 
    <div class="flex justify-center my-10">
        <div >
            <img class="m-5 rounded-full items-center drop-shadow-xl" style="background-color: #BBAB8C;" src="../../assets/image/portfolioimage.png" alt="Adam argyle" width="300px"> 
        </div>
       
            
    </div>

    <div class="flex flex-col justify-center mx-4 px-4">
    <div class="flex flex-col  justify-between mt-1">
            <div class="color text-4xl p-3 pb-0">
                Hi! I'm <span class="myname">Zay Min Khant</span>
            </div>
            <div class="color text-3xl px-3">
                Full-stack Developer
            </div>
            <div class="color text-base px-2 pt-3 ">
                <i class="fa-solid fa-map-pin mx-2"></i>
                I live in Chiang Mai, Thailand
            </div>
            <div class="color text-base px-2 pt-2">
                <i class="fa-solid fa-phone mx-2"></i>
                <a href="tel:+959784947276">+959784947276</a> , 
                <a href="tel:+66629253160">+66629253160</a>

            </div>
            <div class="color text-base px-2 pt-2">
                <i class="fa-solid fa-envelope mx-2"></i>
                <a href="mailto:zayminkhant.dev@gmail.com">zayminkhant.dev@gmail.com</a>

            </div>
            
            <div class="flex flex-row mt-4 px-3">
                <button class="cssbuttons-io">
                    <span
                      >
                      <i class="fa-solid fa-download mx-3"></i> Download CV</span
                    >
                  </button>

            </div>
            <div class="flex items-center justify-start p-4 mt-5 ">
                <ul class="flex flex-row justify-between relative gap-5 ">
                    <li style="--clr:#3F2305">
                        <a href="#">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </li>
                    <li style="--clr:#3F2305">
                        <a href="#">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li style="--clr:#3F2305">
                        <a href="#">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </li>
                    <li style="--clr:#3F2305">
                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li style="--clr:#3F2305">
                        <a href="#">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </li>
                </ul>
            </div>
            

        </div>
    </div>

</div>

<div class="flex flex-row my-28 m-2 p-2"  id="aboutme">
    <div class="flex items-center basis-2/5">
        <!-- <iframe class="h-full w-full"  src="https://lottie.host/embed/e6b71de8-1baf-4c84-95fc-913bad3a8ce0/ccp4TuKzrf.json"></iframe> -->
        <img  src="../../assets/image/developer.gif" alt="">
    </div>
    <div class="flex flex-col basis-3/5 m-10 ">
    
    <div class="flex text-5xl justify-center items-center mb-4" >
        <span class="font-bold italic " style="color: #3F2305;">ABOUT ME</span> 
    </div>
    <div class="text-balance text-lg indent-20 leading-10">
        As a <span class="highlighttext font-bold ">Full Stack Developer</span> at TASTYSOFT, I create efficient and optimized code that powers the <span class="highlighttext font-bold ">web applications</span> of various clients. I use cutting-edge tools and frameworks, such as <span class="highlighttext font-bold ">Angular, Node.js, Python, AWS, Bootstrap, DynamoDB, MongoDB, MySQL, PostgreSQL, Git, GitLab and GitHub</span> to deliver high-quality and user-friendly web solutions.
I have a passion for web development and a track record of success in <span class="highlighttext font-bold ">designing, developing, testing, and deploying web applications</span>, using <span class="highlighttext font-bold ">agile methodologies</span> and best practices. One of my achievements was winning the <span class="highlighttext font-bold ">SE2020 Software Engineer Contest</span>, where I showcased my skills and creativity in building a dynamic and interactive web app. I am always eager to learn new things and challenge myself, and I value <span class="highlighttext font-bold ">collaboration, feedback, and innovation</span> .
    </div>
    </div>
    


</div>
