<!-- <nav class="flex flex-col justify-between min-h-screen min-w-44 rounded-r-lg  ">
<div id="name" class=" flex h-px justify-center">
    Portfolio
</div>


<div class="navbar flex flex-col flex-auto justify-center items-center text-2xl">
    <a class="basis-1.5 cursor-pointer p-4 navbutton w-full my-px px-10" href="#home" >
        Home
</a>
    <a class="basis-1.5 cursor-pointer p-4 navbutton w-full my-px px-10" href="#aboutme" >
        About
</a>
    <a class="basis-1.5 cursor-pointer p-4 navbutton w-full my-px px-10" >
        Experiences 
    </a>
    <a class="basis-1.5 cursor-pointer p-4 navbutton w-full my-px px-10">
        Skills
    </a>
    <a class="basis-1.5 cursor-pointer p-4 navbutton w-full my-px px-10">
        Contact
    </a>
</div>
</nav> -->


<nav class="flex flex-row justify-between  min-w-44  " style="color: #FDF7E4;">
    <div  class=" flex justify-center ">
        <!-- <img src="https://lottie.host/embed/4ddae526-aa82-4365-bf89-1210016f02d7/GPR8QICOv7.json" /> -->
        <!-- <iframe src="https://lottie.host/embed/79340689-437e-42ff-b614-94f463b6f4dd/sEGR6eugRr.json"></iframe> -->

    </div>
    <div class="navbar flex flex-row flex-auto justify-end items-center text-2xl">
        <a class="basis-1.5 cursor-pointer p-2 navbutton w-full my-px px-10" href="#home" >
            Home
    </a>
        <a class="basis-1.5 cursor-pointer p-2 navbutton w-full my-px px-10" href="#aboutme" >
            About
    </a>
        <a class="basis-1.5 cursor-pointer p-2 navbutton w-full my-px px-10" >
            Experiences 
        </a>
        <a class="basis-1.5 cursor-pointer p-2 navbutton w-full my-px px-10">
            Skills
        </a>
        <a class="basis-1.5 cursor-pointer p-2 navbutton w-full my-px px-10">
            Contact
        </a>
    </div>
    </nav>
    




